li
{
    list-style: square;
    color: black;
}

.Red {
    background-color: red;
    color: white;
}

.Green 
{
    background-color: green;
    color: white;
}

.Blue 
{
    background-color: blue;
    color: white;
}

.Yellow 
{
    background-color: yellow;
}

.Black 
{
    background-color: black;
    color:white; 
}

.ariel 
{
    font-family: "Sans-serif", Arial;
}