/*
{
    color: blue;
    padding: 15px;
    border-width: 5px;
    border-style: dashed;
    border-color: red;
    margin: 20px;
*/

div {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    border-width: 5vw;
    font-size: xx-large;
    display: table;
    width: 20%;
    height: 20%;
    margin: 0 auto;
}

.background {
    z-index: 1;
    background-color: black;
    position: relative;
    width: 80vw;
    height: 80vh;
    top: 30px;
    left: 30px;
}

.htmlStyle {
    background-color: white;
    /*
    border-color: white;
    border-style: solid;
    */
    position: absolute;
    color: red;
    z-index: 2;
    top: 25%;
    left: 25%;
}

.cssStyle {
    background-color: red;
    /*
    border-color: red;
    border-style: solid;
    */
    position: absolute;
    color: white;
    z-index: 3;

    top: 40%;
    left: 40%;
}

    .cssStyle p,.htmlStyle p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
